

.text-clr{
    color: #60A547;
}

.heading{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;

}

.card{
    text-align: center;
    height: 120px;
    width: 350px;
}

.dFlex{
    display: flex;
    justify-content: space-around;
}


.oneWaySection{
    margin-top:50px;
    padding: 30px;
}

.upperCase{
    text-transform: uppercase;
}

.chose-rental-list li{
    margin-top: 30px;
}

.text-bold{
    font-weight: bold;
}