.container{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    
    
}
.box-shadow{
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 40px 20px;
    padding: 20px;
    height: max-content;
}

.trip-type-btn{
    display: flex;
    align-items: center;
}

.trip-type-btn button {
    /* width: 100px; */
    margin-left: 15px;
    margin-top: 6px; 
    margin-bottom: 6px; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    
}

.btn-bg-clr{
    background-color: #4caf50; 
    color: #fff;
}



.form-container{
    /* display: flex; */
    /* align-items: center;
    justify-content: space-evenly; */
    /* margin-top: 300px; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr) ; */
     /* width: 80%; */
}
