.footer{
    background-color: #2F313C;
    color: white;
    text-align: center;
    padding: 60px;
    margin-top: 300px;
}


.footer-name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.newsFrom{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.newsFrom h3{
    margin-right: 30px;
    justify-content: center;
}


.footer-form{
    display: flex;
    width: fit-content;
    border: 10px;
    
}
.footer-form input{
    border: 5px;
    padding: 10px 20px;
    height: 50px;
    width: 300px;
    font-size: 16px;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;
}
.footer-form button{
    background-color: #2F313C;
    color: white;
    width: 100px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0px ; 
    border-end-end-radius: 30px;
    border-top-right-radius: 30px;
    
}

.footer-form button:hover{
    background-color: #60A547;
    border: none;
}